body{
    font-family: 'Varela Round', sans-serif;
}
.cover{
    height: 400px;
    background-image: url(/images/annie-spratt-8mqOw4DBBSg-unsplash.jpg);
    background-size: cover;
    color: white;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
.nav li:hover > ul{
    display: block;
}